<form [ngFormModel]="passwordForm" (ngSubmit)="changePassword()">
    <div class="form-group">
        <div>
            <label for="oldPassword">oldPassword</label>
            <input id="oldPassword" type="text" class="form-control"
                ngControl="oldPassword"
                #oldPassword="ngForm">

            <div *ngIf="oldPassword.touched && oldPassword.errors">
                <div *ngIf="oldPassword.errors.required" class="alert alert-danger">
                    Required
                </div>
                <div *ngIf="oldPassword.errors.WrongPassword" class="alert alert-danger">
                    Password Wrong!
                </div>
            </div>
        </div>
        
        <div>
            <label for="newPassword">newPassword</label>
            <input id="newPassword" type="text" 
                class="form-control"
                ngControl="newPassword"
                #newPassword="ngForm">

            <div *ngIf="newPassword.touched && newPassword.errors">
                <div *ngIf="newPassword.errors.required" class="alert alert-danger">
                    Required
                </div>
                <div *ngIf="newPassword.errors.minimumLength" class="alert alert-danger">
                    length not met
                </div>
            </div>
        </div>
       
        <div>
            <label for="confirmPassword">confirmPassword</label>
            <input id="confirmPassword"type="text"
             class="form-control"
             ngControl="confirmPassword"
             #confirmPassword="ngForm">

            <div *ngIf="confirmPassword.touched && confirmPassword.errors">
                <div *ngIf="confirmPassword.errors.required" class="alert alert-danger">
                    Required
                </div>
            </div>
            <div *ngIf="passwordForm.errors && passwordForm.errors.passwordShouldMatch" class="alert alert-danger">
                    password dont match.
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">
        Submit
    </button>
</form>